:host {
  display: flex;
  justify-content: center;
  height: 5rem;
  position: absolute;
  bottom: 0;
  width: 100%;
}

#contact-list {
  padding: 1rem;
  width: 12rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
