<div id="contact-list">
  <mat-grid-list
    cols="4"
    rowHeight="1:1"
    [gutterSize]="'10px'"
    style="flex-grow: 1;"
  >
    <mat-grid-tile>
      <app-contact-square
        data-aos="fade-in"
        [targetUrl]="'https://www.google.com'"
        [contactProvider]="ContactProvider.Twitter"
      ></app-contact-square>
    </mat-grid-tile>
    <mat-grid-tile>
      <app-contact-square
        data-aos="fade-up"
        [targetUrl]="'https://github.com/j-sommer'"
        [contactProvider]="ContactProvider.GitHub"
      ></app-contact-square>
    </mat-grid-tile>
    <mat-grid-tile>
      <app-contact-square
        data-aos="fade-up"
        [targetUrl]="'https://www.google.com'"
        [contactProvider]="ContactProvider.LinkedIn"
      >
      </app-contact-square
    ></mat-grid-tile>
    <mat-grid-tile>
      <app-contact-square
        data-aos="fade-up"
        [targetUrl]="'https://codepen.io/j-sommer'"
        [contactProvider]="ContactProvider.CodePen"
      >
      </app-contact-square>
    </mat-grid-tile>
  </mat-grid-list>
</div>
