:host {
  display: flex;
  justify-content: center;
  height: 5rem;
  bottom: 0;
  width: 100%;
}

#contact-list {
  width: 14rem;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
