@import "./../../../../theme.scss";

.toolbar {
  transition: background-color 0.3s, color 0.3s;
  transition-timing-function: linear;

  &__header {
    margin-right: 30px;
  }

  &__language-select {
    margin-left: auto;
    cursor: pointer;
  }
}

.is-stuck {
  color: mat-color($portfolio-primary) !important;
  background-color: transparent !important;
}
