<mat-toolbar
  color="primary"
  class="toolbar"
  [ngClass]="{
    'is-sticky': isSticky,
    'is-stuck': !isSticky
  }"
>
  <h3 class="toolbar__header">JS</h3>

  <div *ngIf="isMobileResolution; then mobileView; else desktopView"></div>

  <ng-template #mobileView>
    <div class="toolbar__menu">
      <app-menu-mobile [sectionSet]="sectionSet"></app-menu-mobile>
    </div>
  </ng-template>
  <ng-template #desktopView>
    <div class="toolbar__menu">
      <app-menu-desktop [sectionSet]="sectionSet"></app-menu-desktop>
    </div>
  </ng-template>
</mat-toolbar>
