@import "screen-sizes";
@import "variables";

.toolbar {
  background-color: transparent;
  padding: 0 3vw;
  height: $header-height-sm;
  transition: background-color 0.4s;
  color: $text-on-light;

  @include md {
    height: $header-height-md;
  }

  &.is-sticky {
    background-color: $portfolio-background-color;
    height: $header-height-sm;
    color: $text-on-light;

    @include md {
      height: $header-height-md;
    }
  }

  &__header {
    width: 25px;
    height: 25px;
    padding: 2px;
    margin-right: 2vw !important;
    cursor: pointer;

    @include md {
      width: 28px;
      height: 28px;
    }

    :focus {
      outline: none;
    }
  }

  &__menu {
    width: 100%;
  }
}
