<mat-toolbar
  class="toolbar"
  [ngClass]="{
    'is-sticky': isSticky,
    'is-stuck': !isSticky
  }"
>
  <img
    class="toolbar__header"
    (click)="scrollToHome()"
    src="/assets/images/icon.svg"
  />

  <div
    *ngIf="
      (currentViewSize$ | async).isMobileResolution;
      then mobileView;
      else desktopView
    "
  ></div>

  <ng-template #mobileView>
    <div class="toolbar__menu">
      <app-menu-mobile [sectionSet]="sectionSet"></app-menu-mobile>
    </div>
  </ng-template>
  <ng-template #desktopView>
    <div class="toolbar__menu">
      <app-menu-desktop [sectionSet]="sectionSet"></app-menu-desktop>
    </div>
  </ng-template>
</mat-toolbar>
