@import "screen-sizes";
@import "variables";

.toolbar {
  background-color: $portfolio-background-color;
  padding: 0 3vw;

  &__header {
    width: 25px;
    height: 25px;
    padding: 2px;
    margin-right: 2vw !important;
    cursor: pointer;

    @include md {
      width: 28px;
      height: 28px;
    }

    :focus {
      outline: none;
    }
  }

  &__menu {
    width: 100%;
  }
}
