.legal-notice {
  position: relative;
  &__close {
    position: fixed;
    right: 2vw;
    top: 0;
  }
  &__content {
    &__information {
      display: flex;
      flex-direction: column;

      &__group {
        margin-bottom: 2vh;
      }
    }
  }
}
