<div class="legal-notice">
  <div class="legal-notice__close">
    <button mat-icon-button mat-dialog-close>
      <mat-icon>close</mat-icon>
    </button>
  </div>

  <div class="legal-notice__content">
    <h1>Impressum</h1>
    <h3>Angaben nach § 5 TMG</h3>
    <div class="legal-notice__content__information">
      <div class="legal-notice__content__information__group">
        <p>
          Jan Sommer
        </p>
        <p>
          (Private Adresse auf Anfrage)
        </p>
      </div>

      <div class="legal-notice__content__information__group">
        <p>
          Tel.: 015156522992
        </p>
        <p>
          E-Mail: jan-sommer@outlook.com
        </p>
      </div>
    </div>
  </div>
</div>
