@import "screen-sizes";
@import "variables";

.blog-section {
  &__posts {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 24px;

    @include md {
      max-width: 66vw;
      margin: auto;
      grid-template-columns: 1fr 1fr;
      column-gap: 64px;
    }

    &__item {
      height: 450px;
      max-height: 450px;
      min-height: 450px;
      display: grid;
      grid-template-rows: 60% 10% 20% 10%;
      border: 1px solid black;

      &__title {
        padding: 8px;
      }

      &__content {
        display: flex;
        height: 100%;
      }

      &__description {
        padding: 8px;
        font-weight: lighter;
      }

      &__link {
        padding: 8px;
      }

      &__image {
        display: flex;
        overflow: hidden;
      }
    }
  }
}
