.experience {
  &__header {
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
  }

  &__content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));

    &__list {
      justify-self: center;
    }
  }
}
