@import "~@angular/material/theming";

$primary: (
  50: #e6f3ee,
  100: #c1e0d6,
  200: #98ccba,
  300: #6eb89e,
  400: #4fa88a,
  500: #309975,
  600: #2b916d,
  700: #248662,
  800: #1e7c58,
  900: #136b45,
  A100: #a1ffd4,
  A200: #6effbc,
  A400: #3bffa4,
  A700: #22ff99,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);
$accent: (
  50: #fbfaee,
  100: #f4f3d5,
  200: #edecb9,
  300: #e5e49d,
  400: #e0de88,
  500: #dad873,
  600: #d6d46b,
  700: #d0ce60,
  800: #cbc856,
  900: #c2bf43,
  A100: #ffffff,
  A200: #fffee3,
  A400: #fffdb0,
  A700: #fffc96,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #000000,
    700: #000000,
    800: #000000,
    900: #000000,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);

$portfolio-background-color: #fcfcfc;

$portfolio-primary: mat-palette($primary, 500, 300, 700);
$portfolio-accent: mat-palette($accent, 500, 300, 700);

$text-on-light: #1a1a1a;
$text-on-dark: #fcfcfc;

$portfolio-warn: mat-palette($mat-red);

$header-height-md: 64px;
$header-height-sm: 56px;
