@import "~@angular/material/theming";

$primary: (
  50: #eff4fc,
  100: #d7e4f8,
  200: #bcd2f4,
  300: #a1c0f0,
  400: #8cb3ec,
  500: #78a5e9,
  600: #709de6,
  700: #6593e3,
  800: #5b8adf,
  900: #4879d9,
  A100: #ffffff,
  A200: #fdfeff,
  A400: #cadbff,
  A700: #b1caff,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #000000,
    700: #000000,
    800: #000000,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);
$accent: (
  50: #fffaed,
  100: #fff3d1,
  200: #ffebb3,
  300: #fee394,
  400: #fedd7d,
  500: #fed766,
  600: #fed35e,
  700: #fecd53,
  800: #fec749,
  900: #fdbe38,
  A100: #ffffff,
  A200: #ffffff,
  A400: #fff4df,
  A700: #ffecc6,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #000000,
    700: #000000,
    800: #000000,
    900: #000000,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);

$portfolio-background-color: #fcfcfc;

$portfolio-primary: mat-palette($primary, 500, 300, 700);
$portfolio-accent: mat-palette($accent, 500, 300, 700);

$portfolio-warn: mat-palette($mat-red);
