<div class="contact-form">
  <h1 class="contact-form__header">
    {{ "contact.contact-form.header" | translate }}
  </h1>
  <p class="contact-form__info-text">
    {{ "contact.contact-form.info-text" | translate }}
  </p>

  <form
    [formGroup]="formGroup"
    (ngSubmit)="onSend(formGroup)"
    class="contact-form__form"
  >
    <mat-form-field
      id="contact-form__form__name-field"
      class="contact-form__form__field"
    >
      <mat-label>{{
        "contact.contact-form.form.name-field.label" | translate
      }}</mat-label>
      <input
        matInput
        type="text"
        [formControl]="nameFieldControl"
        [placeholder]="
          'contact.contact-form.form.name-field.placeholder' | translate
        "
      />

      <mat-error *ngIf="nameFieldControl.hasError('required')">
        {{ "contact.contact-form.form.name-field.required" | translate }}
      </mat-error>
    </mat-form-field>

    <mat-form-field
      id="contact-form__form__email-field"
      class="contact-form__form__field"
    >
      <mat-label>{{
        "contact.contact-form.form.email-field.label" | translate
      }}</mat-label>
      <input
        matInput
        type="email"
        [formControl]="emailFieldControl"
        [errorStateMatcher]="invalidFieldMatcher"
        [placeholder]="
          'contact.contact-form.form.email-field.placeholder' | translate
        "
      />

      <mat-error
        *ngIf="
          emailFieldControl.hasError('email') &&
          !emailFieldControl.hasError('required')
        "
      >
        {{ "contact.contact-form.form.email-field.invalid" | translate }}
      </mat-error>

      <mat-error *ngIf="emailFieldControl.hasError('required')">
        {{ "contact.contact-form.form.email-field.required" | translate }}
      </mat-error>
    </mat-form-field>

    <mat-form-field
      id="contact-form__form__message-field"
      class="contact-form__form__textarea"
    >
      <mat-label>{{
        "contact.contact-form.form.message-field.label" | translate
      }}</mat-label>
      <textarea
        matInput
        type="text"
        [mat-autosize]="true"
        [formControl]="messageFieldControl"
        [placeholder]="
          'contact.contact-form.form.message-field.placeholder' | translate
        "
      ></textarea>
    </mat-form-field>
    <button mat-raised-button color="primary" [disabled]="formGroup.invalid">
      {{ "contact.contact-form.form.submit" | translate }}
    </button>
  </form>
</div>
