<div class="app mat-typography">
  <div
    class="app__header"
    stickybits
    (stuck)="onStuck($event)"
    (sticky)="onSticky($event)"
  >
    <app-header [isSticky]="isSticky"></app-header>
  </div>

  <div class="app__content">
    <div class="app__content__section">
      <app-title></app-title>
    </div>

    <div
      class="app__content__section"
      [attr.id]="'about'"
      data-aos="fade-in"
      data-aos-duration="1000"
    >
      <app-about-section></app-about-section>
    </div>
    <div
      class="app__content__section"
      [attr.id]="'projects'"
      data-aos="fade-in"
      data-aos-duration="1000"
    >
      <app-projects-section></app-projects-section>
    </div>
    <div
      class="app__content__section"
      [attr.id]="'contact'"
      data-aos="fade-in"
      data-aos-duration="1000"
    >
      <app-contact-section></app-contact-section>
    </div>
    <div class="app__content__footer">
      <app-footer></app-footer>
    </div>
  </div>
</div>
