:host {
  position: relative;
  display: block;
}

#bottom-divider {
  height: 10vh;
}

#footer {
  position: absolute;
  bottom: 0;
}

.content {
  max-width: 100%;
  padding: 20px 10px;
  &__section {
    min-height: 900px;
  }
}
