@import "./../theme.scss";

.placeholder {
  background-image: url("/assets/images/placeholder.JPG");
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: center;
  background-position-y: center;
}

.app {
  position: relative;
  display: block;

  &__header {
    z-index: 5;
  }

  &__content {
    max-width: 100%;

    &__section {
      min-height: 100vh;
    }

    &__footer {
      position: absolute;
      bottom: 0;
    }
  }
}
