.app {
  position: relative;
  display: block;

  &__header {
    display: block;
    position: sticky;
    top: 0;
    z-index: 5;
  }

  &__content {
    max-width: 100%;
    padding: 20px 10px;

    &__section {
      min-height: 100vh;
    }

    &__footer {
      position: absolute;
      bottom: 0;
    }
  }
}
