<h1>{{ "projects.header" | translate }}</h1>

<div class="projects">
  <app-projects-item
    [title]="'projects.portfolio.title' | translate"
    [description]="'projects.portfolio.description' | translate"
    [link]="'https://github.com/j-sommer/portfolio'"
    [imageSrc]="'assets/images/projects/jan-sommer.dev.png'"
  ></app-projects-item>

  <app-projects-item
    [title]="'projects.component-starter.title' | translate"
    [description]="'projects.component-starter.description' | translate"
    [link]="'https://github.com/j-sommer/web-component-starter'"
    [imageSrc]="'assets/images/projects/web-component-starter.png'"
  ></app-projects-item>

  <app-projects-item
    [title]="'projects.recipe-organizer.title' | translate"
    [description]="'projects.recipe-organizer.description' | translate"
    [link]="'https://github.com/j-sommer/recipe-organizer-app'"
    [imageSrc]="'assets/images/projects/recipe-organizer-app.png'"
  ></app-projects-item>

  <app-projects-item
    [title]="'projects.js-manufaktur.title' | translate"
    [description]="'projects.js-manufaktur.description' | translate"
    [link]="'https://www.js-manufaktur.de/landing'"
    [imageSrc]="'assets/images/projects/js-manufaktur.png'"
  ></app-projects-item>
</div>
