<div class="description">
  <div class="description__text">
    <p class="description__text__introduction">
      {{ "about.description.introduction" | translate }}
    </p>

    <mat-icon class="description__text__divider">brightness_1</mat-icon>

    <p class="description__text__main">
      {{ "about.description.main" | translate }}
    </p>

    <mat-icon class="description__text__divider">brightness_1</mat-icon>

    <p class="description__text__additional">
      {{ "about.description.additional-information" | translate }}
    </p>
  </div>
  <div class="description__images">
    <img
      class="description__images__item"
      src="/assets/images/about/about.jpg"
    />

    <img
      class="description__images__item"
      src="/assets/images/about/additional-information.jpg"
    />
  </div>
</div>
