@import "./../../../../theme.scss";

:host {
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.contact-square {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: mat-color($portfolio-primary);
}
