@import "variables";
@import "screen-sizes";

.home {
  text-align: center;
  background-size: cover;
  background-attachment: fixed;
  height: 100%;

  &__panel {
    width: 100vw;
    height: 40vh;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &__title {
      font-weight: 900;
      color: $portfolio-background-color;
      font-size: 4.5em;
      position: relative;
      text-align: center;
      line-height: 65px;
      letter-spacing: 1px;

      @include lg {
        font-size: 7em;
        line-height: 90px;
      }
    }

    &__subtitle {
      display: flex;
      flex-direction: column;

      @include md {
        flex-direction: row;
      }

      &__item {
        &__divider {
          color: mat-color($portfolio-primary);
          margin-left: 0.8vw;
          margin-right: 0.8vw;
          font-size: 10px;
        }
      }
    }
  }
}
