@import "variables";
@import "screen-sizes";

.footer {
  min-height: 15vh;
  background: linear-gradient(
    to top,
    mat-color($portfolio-primary),
    mat-color(mat-palette($primary, 700))
  );
  -webkit-box-shadow: inset 0px 10px 15px -7px #00000046;
  box-shadow: inset 0px 10px 15px -7px #00000046;

  display: flex;
  flex-direction: column;
  padding-bottom: 1vh;
  color: $portfolio-background-color;

  &__to-top-button {
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    transform: translateY(-50%);
    color: mat-color($portfolio-primary);
    background-color: mat-color($portfolio-accent);

    &__icon {
      transform: rotate(90deg);
    }
  }

  &__content {
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    justify-content: center;

    flex-direction: column;

    @include md {
      flex-direction: row;
    }

    &__copyright {
      display: flex;
      align-items: center;

      &__icon {
        margin-right: 6px;
        transform: scale(0.8);
      }
    }
  }

  &__legal {
    display: flex;
    justify-content: center;
  }
}
