<div class="footer">
  <button
    (click)="scrollToTop()"
    mat-fab
    color="ColorType.Accent"
    class="footer__to-top-button"
  >
    <mat-icon>keyboard_arrow_up</mat-icon>
  </button>

  <div class="footer__legal">
    <a mat-button (click)="openLegalNotice()">{{
      "core.footer.legal-notice" | translate
    }}</a>
    <a mat-button (click)="openPrivacyStatement()">{{
      "core.footer.privacy-statement" | translate
    }}</a>
  </div>

  <div class="footer__copyright">
    <mat-icon class="footer__copyright__icon">copyright</mat-icon
    ><span class="mat-small">2020, Jan Sommer</span>
  </div>
</div>
