<mat-card
  class="projects-item"
  data-aos="fade-up"
  data-aos-duration="500"
  data-aos-delay="600"
  (mouseenter)="isHovering = true"
  (mouseleave)="isHovering = false"
>
  <div class="projects-item__content" [ngClass]="{ hover: isHovering }">
    <mat-card-header class="projects-item__header">
      <mat-icon
        color="primary"
        mat-card-avatar
        class="projects-item__content__icon"
      >
        {{ icon }}
      </mat-icon>
      <mat-card-title>{{ title }}</mat-card-title>
      <mat-card-subtitle>{{ subTitle }}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <!-- <img
        class="projects-item__content__image"
        src="/assets/images/projects/js-manufaktur.png"
      /> -->
      <p class="projects-item__content__description">
        {{ description }}
      </p>
    </mat-card-content>
  </div>

  <div
    *ngIf="!(currentSize$ | async).isMobileResolution"
    class="projects-item__overlay"
    [ngClass]="{ hover: isHovering }"
  >
    <a
      mat-raised-button
      class="projects-item__overlay__button"
      color="primary"
      [href]="link"
    >
      <mat-icon>link</mat-icon>
      {{ "projects.visit" | translate }}
    </a>
  </div>

  <mat-card-actions
    *ngIf="(currentSize$ | async).isMobileResolution"
    class="projects-item__actions"
  >
    <a
      class="projects-item__actions__button"
      mat-raised-button
      color="primary"
      [href]="link"
    >
      <mat-icon>link</mat-icon>
      {{ "projects.visit" | translate }}
    </a>
  </mat-card-actions>
</mat-card>
