@import "./theme.scss";

* {
  box-sizing: border-box;
}

.custom-overlay-backdrop {
  backdrop-filter: blur(4px) saturate(0);
  background-color: rgba(0, 0, 0, 0.4);
}

.custom-overlay-panel {
  width: 90vw;
  height: 90vh;
  text-align: justify;
  font-size: smaller;
  overflow-wrap: anywhere;

  @include md {
    width: 70vw;
    height: 80vh;
  }

  &--small {
    width: 90vw;
    height: 90vh;
    text-align: justify;
    font-size: smaller;

    @include md {
      width: 50vw;
      height: 40vh;
    }
  }
}

html.webp .home {
  background-image: url("/assets/images/home/hero.webp");
}

html.no-webp .home {
  background-image: url("/assets/images/home/hero.jpg");
}

.medium-feed-item {
  height: 100%;
  display: grid;
  grid-template-rows: 60% 30% 10%;
}

.medium-feed-snippet {
  margin-bottom: 32px !important;
  font-weight: lighter;
}

.medium-feed-image {
  display: flex;
  overflow: hidden;

  a {
    margin: 0;
  }

  img {
    width: 100%;
    height: auto;
  }
}
