@import "~@angular/material/theming";
@include mat-core();

$portfolio-primary: mat-palette($mat-blue, 700);
$portfolio-accent: mat-palette($mat-deep-orange, A200, A100, A400);

$portfolio-warn: mat-palette($mat-red);

$portfolio-theme: mat-dark-theme(
  $portfolio-primary,
  $portfolio-accent,
  $portfolio-warn
);

$custom-typography: mat-typography-config(
  $font-family: "Montserrat",
  $display-4: mat-typography-level(112px, 112px, 300),
  $display-3: mat-typography-level(56px, 56px, 400),
  $display-2: mat-typography-level(45px, 48px, 400),
  $display-1: mat-typography-level(34px, 40px, 400),
  $headline: mat-typography-level(65px, 40px, 100),
  $title: mat-typography-level(20px, 32px, 500),
  $subheading-2: mat-typography-level(16px, 28px, 400),
  $subheading-1: mat-typography-level(15px, 24px, 400),
  $body-2: mat-typography-level(16px, 24px, 500),
  $body-1: mat-typography-level(16px, 20px, 400),
  $caption: mat-typography-level(12px, 20px, 400),
  $button: mat-typography-level(14px, 14px, 500),
  $input: mat-typography-level(14px, 1.25, 400),
);

@include angular-material-theme($portfolio-theme);
@include angular-material-typography($custom-typography);

$screen-sm-min: 576px;
$screen-md-min: 768px;
$screen-lg-min: 992px;
$screen-xl-min: 1200px;

@mixin sm {
  @media (min-width: #{$screen-sm-min}) {
    @content;
  }
}

@mixin md {
  @media (min-width: #{$screen-md-min}) {
    @content;
  }
}

@mixin lg {
  @media (min-width: #{$screen-lg-min}) {
    @content;
  }
}

@mixin xl {
  @media (min-width: #{$screen-xl-min}) {
    @content;
  }
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  width: 100%;
  height: 100%;
  font-family: "Montserrat", "Helvetica Neue", sans-serif;
}

h1 {
  text-align: center;
  margin-right: auto !important;
  margin-left: auto !important;
  margin-bottom: 4vh !important;
  width: fit-content;
}

h1::before,
h1::after {
  @include md {
    display: inline-block;
    content: "";
    border-top: 1px solid mat-color($portfolio-theme, text);
    width: 8vw;
    margin: 0 3rem;
    transform: translateY(-1rem);
  }
}

.mat-success {
  background-color: lightgreen !important;
  color: #fff;
}
