@import "screen-sizes";

.contact-form {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20vh;

  &__info-text {
    margin-bottom: 40px;
  }

  &__form {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

    @include sm {
      width: 100%;
    }

    @include md {
      width: 50%;
    }

    &__info-fields {
      display: flex;
      justify-content: space-between;
      flex-direction: column;
      margin-bottom: 10px;
      width: 100%;

      @include sm {
        flex-direction: column;
      }

      @include lg {
        flex-direction: row;
      }

      &__input {
        min-width: 45%;
      }
    }

    &__textarea {
      width: 100%;
    }

    &__submit {
      align-self: flex-end;
      min-width: 22.5%;
    }

    &__overlay {
      position: absolute;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      z-index: 4;
      backdrop-filter: saturate(0);
      backdrop-filter: blur(1px);
      &__loading {
        width: 50%;
      }
    }
  }
}
